@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000002;
  --primary: #ff600f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);

  --font-jakarta: var(--font-plus-jakarta);
  --font-sans: var(--font-open-sans);
  --font-manrope: var(--font-manrope);

  /* custome break point */
   --breakpoint-1180: 1180px;
   --breakpoint-900: 900px;

  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000002;
    --foreground: #ededed;
  }
}
* {
  box-sizing: border-box;
  /* Hide scrollbar globally */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans, sans-serif);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

@layer utilities {
  .text-stroke {
    color: #fff;
    -webkit-text-fill-color: transparent;

    -webkit-text-stroke-width: 2px; /* stroke width & color */
  }
  .text-outline-shadow {
    color: black; /* Fill color */
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff,
      -1px -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff;
  }
  .text-outline-shadow-primary {
    color: black; /* Fill color */
    text-shadow: 1px 1px 0 #ff600f, -1px 1px 0 #ff600f, 1px -1px 0 #ff600f,
      -1px -1px 0 #ff600f, 1px 0 0 #ff600f, -1px 0 0 #ff600f, 0 1px 0 #ff600f,
      0 -1px 0 #ff600f;
  }
}

/* .cursor {
  position: absolute;
  top:0;
  left: 0;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  z-index: -1;
  background: #ff600f;
} */



.cursor {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  will-change: transform;
}
